body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #1e1f28;
  color: white;
  height: 100vh; /* Full height */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 15px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header-bar {
  display: flex;
  align-items: center;
  background-color: #4278db;
  color: white;
  padding: 20px;
  justify-content: space-between;
  height: 20px;
}

.header-bar .logout {
  margin-left: auto;
  cursor: pointer;
}

.tab-panel {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* Prevents overflow beyond the viewport */
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.wrapperLogin {
  display: flex;
  max-width: 1200px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.leftLogin {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.rightLogin {
  flex: 1;
  /* background: url('/images/landscape.jpg') no-repeat center center/cover; */
}

.logoLogin {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #27ae60;
}

.titleLogin {
  font-size: 2rem;
  margin-bottom: 20px;
}

.formLogin {
  width: 100%;
}

.inputLogin {
  width: 70%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #e7e6e6;
}

.buttonLogin {
  width: 50%;
  padding: 12px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.buttonLogin:hover {
  background-color: #34495e;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px; 
}


.select-container-team {
  display: flex;
  justify-content: space-between; 
}

.select-container-team2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between; 
}

.select-group-team {
  flex: 1; 
  margin: 0 0px; 
}

.custom-select-team {
  width: 85%; 
}
.custom-select-team2 {
  width: 29%; 
}
.select-group-team label {
  display: block; 
  margin-bottom: 8px;
  margin-left: 0; 
}


.form-group2 {
  margin-bottom: 15px;
}

.form-group2 label {
  display: block;
  margin-bottom: 5px;
}

.form-group2 input {
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Adds shadow */
  border: 1px solid rgb(17, 17, 22); /* Adds black border */
  border-radius: 8px; /* Adds slight border radius */
  transition: transform 0.3s ease; /* Adds a smooth animation */
}

/* Hover effect */
.custom-card:hover {
  transform: translateY(-5px); /* Adds hover effect */
}

/* Styling the card header */
.custom-card .ant-card-head {
  border-bottom: 1px solid rgb(0, 0, 0); /* Changes the bottom border of the card header to black */
}

